@page "/Admin/AddAndModifyProduct"
@attribute [Authorize(Roles = "Administrator")]
@using DAL;
@using DAL.Contracts
@using DAL.Models
@using BTMAppUI.Data.Models
@using System.ComponentModel.DataAnnotations
@inject IProductService productService
@inject IUploadImageService uploadImageService
@inject IWebHostEnvironment Environment

@if (products is null)
{
	<p><em>Loading...</em></p>
}
else
{
	<section class="py-5 text-center container mb-5">
		<div class="col-lg-8 mx-auto">
			<EditForm Model="@products" OnSubmit="() => SearchProducts(SearchKeyword)" style="margin:auto;max-width:300px" class="searchProduct">
				<input type="text" placeholder="Search.." name="search" @bind-value="@SearchKeyword">
				<button type="button" @onclick="() => SearchProducts(SearchKeyword)"><i class="fa fa-search"></i></button>
			</EditForm>
		</div>
	</section>
	<div>
		<div class="border p-3 mb-3 shadow-sm">
			<EditForm Model="@product" OnValidSubmit="@AddNewProduct">
				<h6>Add Product</h6>
				<DataAnnotationsValidator />
				<ValidationSummary />
				<hr />
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">
						Product Name
					</label>
					<div class="col-4 mb-2 no-rounded-corners">
						<InputText id="ProductName" class="form-control" placeholder="Product Name"
							   @bind-Value="@product.Product_Name" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">
						Price
					</label>
					<div class="col-3 mb-2">
						<InputNumber id="Price" class="form-control" placeholder="0.00"
								 @bind-Value="@product.Price" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">
						Description
					</label>
					<div class="col-sm-5 mb-2">
						<InputText id="Description" class="form-control"
							   @bind-Value="@product.Description" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">
						Upload Image
					</label>
					<div class="col-sm-3">
						<InputFile class="form-control" OnChange="OnInputFileChange" /><span>@ReturnMessage</span>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-3 col-form-label">
						<button class="btn btn-danger" type="submit">
							Add
						</button>
					</div>
					<div class="col-sm-6 mt-3">
						<span class="text-success"><em></em></span>
					</div>
				</div>
			</EditForm>
		</div>
	</div>

	<div class="row align-items-start">
		<div class="col">
			<div class="row">
				@*First column*@
				<div class="column">
						<div class="table-container border ps-2 pb-2 shadow-sm">
							<table class="table col-12 table-striped">
								<thead>
									<tr>
										<th class="col-sm-2">Product Id</th>
										<th class="col">Product Name</th>
										<th class="col">Product Price</th>
										<th class="col">Description</th>
										<th class="col">Date Added</th>
										<th class="col"></th>
										<th class="col"></th>
									</tr>
								</thead>
								<tbody>
									@foreach (var product in products)
									{
										<tr>
											<td>@product.Product_Id</td>
											<td>@product.Product_Name</td>
											<td>$@Math.Round((decimal)@product.Price, 2)</td>
											<td>@product.Description</td>
											<td>@product.Date_Added</td>
											<td>
												<button class="btn btn-secondary" type="button" @onclick="() => SelectProduct(product.Product_Id)">
													Modify
												</button>
											</td>
											<td>
												<button class="btn btn-danger" type="button" @onclick="() => Delete_Click(product.Product_Id)">
													Delete
												</button>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					
					<span>@SearchReturnMessage</span>
				</div>
			</div>
		</div>
		@*Second Column*@
		<div class="col col-5 border h-100 overflow-hidden p-4 content m-auto shadow-sm me-2">
			@if (productUpdate is null)
			{
				<p><em>Select to view product...</em></p>
			}
			else
			{
				<EditForm Model="@productUpdate">
					<DataAnnotationsValidator />
					<ValidationSummary />
					<h6>Edit Product</h6>
					<hr />
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">
							Product Name
						</label>
						<div class="col-sm-8 mb-2">
							<InputText id="Product_Name" class="form-control" placeholder="Product Name"
							   @bind-Value="@productUpdate.Product_Name" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">
							Price
						</label>
						<div class="col-sm-8 mb-2">
							<InputNumber id="Price" class="form-control" placeholder="0.00"
								 @bind-Value="@productUpdate.Price" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">
							Description
						</label>
						<div class="col-sm-8 mb-2">
							<InputText id="Description" class="form-control"
							   @bind-Value="@productUpdate.Description" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">
							Upload Image
						</label>
						<div class="col-sm-6">
							<InputFile class="form-control" OnChange="OnInputFileChange" />
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-4 col-form-label">
							<button class="btn btn-danger" type="button" @onclick="() => UpdateProduct_Click(productUpdate)">
								Update
							</button>
						</div>
						<div class="col-sm-6 mt-3">
							<span class="text-success"><em>@EditReturnMessage</em></span>
						</div>
					</div>
					@if(productUpdate.Product_Image != null)
					{
						<div class="form-group row">
							<div class="col-sm-4 col-form-label">
								<img src="@productUpdate.Product_Image" alt="Image" class="img-fluid" />
							</div>
						</div>
					}
				</EditForm>
			}
		</div>
	</div>

}


