@page "/Admin/AddAndModifyProduct"

@using DAL
@using DAL.Contracts;
@using DAL.Models
@using BTMAppUI.Data.Models

@inject IProductService productService

@if (products is null)
{
	<p><em>Loading...</em></p>
}
else
{
	<section class="py-5 text-center container mb-5">
		<div class="col-lg-8 mx-auto">
			<EditForm Model="@products" OnSubmit="() => SearchProducts(SearchKeyword)" style="margin:auto;max-width:300px" class="searchProduct">
				<input type="text" placeholder="Search.." name="search" @bind-value="@SearchKeyword">
				<button type="button" @onclick="() => SearchProducts(SearchKeyword)"><i class="fa fa-search"></i></button>
			</EditForm>
		</div>
	</section>
	<div class="row align-items-start">
		<div class="col col-6 border vh-50 overflow-hidden p-4 m-2 content m-auto shadow-sm">
			<h3>AddProduct</h3>

			<EditForm Model="@product" OnValidSubmit="@AddNewProduct">
				<DataAnnotationsValidator />
				<ValidationSummary />

				<InputText id="Product_Name" @bind-Value="product.Product_Name" />
				<InputNumber id="Price" @bind-Value="product.Price" />

				<input type="submit" value="Submit" class="btn btn-primary" />
			</EditForm>

			<div class="row">
				@*First column*@
				<div class="column">
						<div class="table-container">
							<table class="table col-12 table-striped">
								<thead>
									<tr>
										<th class="col-sm-2">Product Id</th>
										<th class="col">Product Name</th>
										<th class="col">Product Price</th>
										<th class="col">Description</th>
										<th class="col">Date Added</th>
										<th class="col"></th>
										<th class="col"></th>
									</tr>
								</thead>
								<tbody>
									@foreach (var product in products)
									{
										<tr>
											<td>@product.Product_Id</td>
											<td>@product.Product_Name</td>
											<td>$@Math.Round((decimal)@product.Price, 2)</td>
											<td>@product.Description</td>
											<td>@product.Date_Added</td>
											<td>
												<button class="btn btn-secondary" type="button" @onclick="() => SelectProduct_Click(product.Product_Id)">
													Modify
												</button>
											</td>
											<td>
												<button class="btn btn-danger" type="button" @onclick="() => Delete_Click(product.Product_Id)">
													Delete
												</button>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					
					<span>@SearchReturnMessage</span>
				</div>
			</div>
		</div>
		@*Second Column*@
		<div class="col col-5 border vh-50 overflow-hidden p-4 m-2 content m-auto shadow-sm">
			@if (productUpdate is null)
			{
				<p><em>Select to view product...</em></p>
			}
			else
			{
				<EditForm Model="@productUpdate">
					<DataAnnotationsValidator />
					<ValidationSummary />
					<h3>Edit Product</h3>
					<hr />
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">
							Product Name
						</label>
						<div class="col-sm-8 mb-2">
							<InputText id="Product_Name" class="form-control" placeholder="Product Name"
							   @bind-Value="@productUpdate.Product_Name" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">
							Price
						</label>
						<div class="col-sm-8 mb-2">
							<InputNumber id="Price" class="form-control" placeholder="0.00"
								 @bind-Value="@productUpdate.Price" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">
							Description
						</label>
						<div class="col-sm-8">
							<InputText id="Description" class="form-control"
							   @bind-Value="@productUpdate.Description" />
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-4 col-form-label">
							<button class="btn btn-danger" type="button" @onclick="() => UpdateProduct_Click(productUpdate)">
								Update
							</button>
						</div>
						<div class="col-sm-6 mt-3">
							<span class="text-success"><em>@ReturnMessage</em></span>
						</div>
					</div>
				</EditForm>
			}
		</div>
	</div>

}


